$breakpoints: (
	small: 640,
	medium: 768,
	large: 1024,
	xlarge: 1280,
);

$colors: (
	'primary': #b2d236,
	'secondary': #1db2a9,
	'black': #000,
	'grey': #ccc,
	'white': #fff,
	'transparent': transparent,
);

$text-sizes: (
	small: (
		base: (font-size: 12px, line-height: 1.333332),
	),
	medium: (
		base: (font-size: 16px, line-height: 1.333332),
	),
	large: (
		base: (font-size: 20px, line-height: 1.4),
		md: (font-size: 24px, line-height: 1.4),
	),
	xlarge: (
		base: (font-size: 24px, line-height: 1.2),
		md: (font-size: 32px, line-height: 1.2),
	),
	xxlarge: (
		base: (font-size: 28px, line-height: 1.2),
		md: (font-size: 40px, line-height: 1.2),
	),
);

$spacing: 0.5;
