@use 'sass:map';

$breakpoints: (
	small: 640,
	medium: 768,
	large: 1024,
	xlarge: 1280,
) !default;

$small: map.get($breakpoints, small);
$medium: map.get($breakpoints, medium);
$large: map.get($breakpoints, large);
$xlarge: map.get($breakpoints, xlarge);

@mixin min ($minSize) {
	@media only screen and (min-width: #{$minSize}px) {
		@content;
	}
}

@mixin max ($maxSize) {
	@media only screen and (max-width: #{$maxSize}px) {
		@content;
	}
}

@mixin min-max ($minSize, $maxSize) {
	@media only screen and (min-width: #{$minSize}px) and (max-width: #{$maxSize}px) {
		@content;
	}
}

@mixin xsmall () {
	@include max($small - 1) {
		@content;
	}
}

@mixin small () {
	@include min($small) {
		@content;
	}
}

@mixin medium () {
	@include min($medium) {
		@content;
	}
}

@mixin large () {
	@include min($large) {
		@content;
	}
}

@mixin xlarge () {
	@include min($xlarge) {
		@content;
	}
}

@mixin sizes ($key, $style-map) {
	.#{$key} {
		@each $property, $value in $style-map {
			#{$property}: $value;
		}
	}
	.xs-#{$key} {
		@include xsmall {
			@each $property, $value in $style-map {
				#{$property}: $value;
			}
		}
	}
	.sm-#{$key} {
		@include small {
			@each $property, $value in $style-map {
				#{$property}: $value;
			}
		}
	}
	.md-#{$key} {
		@include medium {
			@each $property, $value in $style-map {
				#{$property}: $value;
			}
		}
	}
	.lg-#{$key} {
		@include large {
			@each $property, $value in $style-map {
				#{$property}: $value;
			}
		}
	}
	.xl-#{$key} {
		@include xlarge {
			@each $property, $value in $style-map {
				#{$property}: $value;
			}
		}
	}
}

@mixin variants ($styles) {
	@each $key, $style-map in $styles {
		@include sizes($key, $style-map);
	}
}
