@use 'sass:map';
@use 'defaults';
@use 'media';
@use 'utility';

$text-sizes: () !default;
$text-sizes: map.merge(defaults.$text-sizes, $text-sizes);

@mixin _text-style ($size) {
	$breakpoint-map: map.get($text-sizes, $size);

	@include utility.destructure(map.get($breakpoint-map, 'base'));

	@include media.xsmall { @include utility.destructure(map.get($breakpoint-map, 'xs')); }

	@include media.small { @include utility.destructure(map.get($breakpoint-map, 'sm')); }

	@include media.medium { @include utility.destructure(map.get($breakpoint-map, 'md')); }

	@include media.large { @include utility.destructure(map.get($breakpoint-map, 'lg')); }

	@include media.xlarge { @include utility.destructure(map.get($breakpoint-map, 'xl')); }
}

@mixin xxsmall () { @include _text-style(xxsmall); }

@mixin xsmall () { @include _text-style(xsmall); }

@mixin small () { @include _text-style(small); }

@mixin medium () { @include _text-style(medium); }

@mixin large () { @include _text-style(large); }

@mixin xlarge () { @include _text-style(xlarge); }

@mixin xxlarge () { @include _text-style(xxlarge); }

@mixin _text-variants ($size) {
	$class-name: text-#{$size};
	.#{$class-name} { @include _text-style($size); }
	.xs-#{$class-name} { @include media.xsmall { @include _text-style($size); } }
	.sm-#{$class-name} { @include media.small { @include _text-style($size); } }
	.md-#{$class-name} { @include media.medium { @include _text-style($size); } }
	.lg-#{$class-name} { @include media.large { @include _text-style($size); } }
	.xl-#{$class-name} { @include media.xlarge { @include _text-style($size); } }
}

@include _text-variants(xxsmall);
@include _text-variants(xsmall);
@include _text-variants(small);
@include _text-variants(medium);
@include _text-variants(large);
@include _text-variants(xlarge);
@include _text-variants(xxlarge);
@include media.variants((
	'text-bold': (font-weight: 600),
	'text-underline': (text-decoration: underline),
	'text-uppercase': (text-transform: uppercase),
	'text-lowercase': (text-transform: lowercase),
	'text-left': (text-align: left),
	'text-right': (text-align: right),
	'text-center': (text-align: center),
	'text-justify': (text-align: justify),
));
